/* .movie-poster container to enforce 2:3 aspect ratio */
.movie-poster {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* Make it responsive */
    text-align: center;
    position: relative;
    cursor: pointer;
    min-width: 140px;
    aspect-ratio: 2 / 3;
    /* Enforce 2:3 aspect ratio for the poster container */
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Image container */
#movie-poster-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    /* Make it responsive */
    height: 100%;
    /* Make sure it takes the full container height */
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Movie poster image */
#movie-poster-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures image covers the area without distorting */
    border-radius: 10px;
}

/* Hover effect for the image container */
#movie-poster-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
    border-radius: 10px;
}

#movie-poster-img:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
}

/* Play icon text */
.play-text {
    display: none;
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

#movie-poster-img:hover .play-text {
    display: block;
}