
.blogFullPage {   /* Container for blog and populer section */
    width: 95%;
    margin: auto auto;
    height: 100dvh;
}

.blogResorcesContainer{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
 .blogSection-container{   /* Container for blog and populer section */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.NormalblogSection-container { /* Container for blog  */
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
} 
.populerSection-container {  /* Container for populer blog  */
    border-left: 1px solid rgb(255, 255, 255, 0.3);
    padding-left: 20px;
    margin-left: 10px;
    padding-top: 10px;
    width: 25%;
}    

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensures it is positioned relative to its container */
    margin-top: auto; /* Pushes it to the bottom of the container */
    padding: 20px 0;
    gap: 10px;
  }
  
  .paginationButton {
    padding: 8px 12px;
    background-color: #f0f0f000;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .paginationButton:hover {
    background-color: #ffffffcc;
  }
  
  .activePage {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-color: #007bff;
  }
  