.gameBoxContainer {
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: #7ab2d31d;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 243px;
    min-height: 210px;
  }
  
  .gameImageContainer {
    width: 200px;
    height: 100%;
    flex-shrink: 0;
    margin-right: 20px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  .gameImageContainer img{
    width: 200px;
    height: 100%;
  }

  .gameImageContainer:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  /* .gameImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  /* .gameImage img {
    width: 320px;
    height: 243px;
    object-fit: cover;
  } */
  
.gameInfo {
    margin-left: 0px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  } 
  
  .gameTypeContainer {
    background-color: #4A628A;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .gameTypeContainer:hover {
    background-color: rgb(20, 90, 180);
  }
  
  .gameType {
    font-weight: 600;
    font-size: 14px;
  }
  
  .gameTitle {
    font-weight: 600;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
  }
  
  .gameTitle:hover {
    color: #e73b3b;
  }
  
  .gameDescription {
    font-size: 12px;
  }
  
  .gameGenres {
    font-size: 12px;
  }

  .gameDateContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.gameCracked {
    font-size: 12px;
    margin-right: 40px; 
    padding-right: 10px; 
    transition: color 0.2s ease-in-out;
  }
  
  .gameCraked:hover {
    color: #e73b3b;
  }

  .gameDate {
    font-size: 12px;
    margin-left: 5px;
    padding-left: 10px;
    transition: color 0.2s ease-in-out;
  }
  
  .gameDate:hover {
    color:  rgb(101, 255, 101) !important;
    color: #998aec;
  }