.nav-header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin-left: 20px;
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  /* Ensures the pseudo-element is positioned relative to this element */
  font-size: clamp(0.75rem, 0.6464rem + 0.442vw, 1rem);
}

.nav-links a::after {
  content: "";
  /* Absolute positioning for proper placement */
  position: absolute;
  width: 0%;
  height: 2px;
  background: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links:first-child {
  margin-left: 0px;
}

.logo {
  font-size: clamp(1.125rem, 0.8142rem + 1.326vw, 1.875rem);
  font-weight: 800;
}
