:root {
    --main-color-one: rgb(28, 110, 204);
    --title-hover-color: skyblue;
}


.blogContainer {
    text-align: left;
    display: flex;
    background-color: black;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 210px;
}

.blogTypeContainer {
    background-color: var(--main-color-one);
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.blogType {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}

.blogTitle {
    font-size: 20px;
}

.blogTitle:hover {
    color: var(--title-hover-color);
}

.blogDescription {
    font-size: 13px;
}

.blogInfo {
    padding: 20px;
}

.blogImage img {
    width: 320px;
    height: 100%;
}


.extraInformation {
    margin-top: 15px;
    display: flex;
    gap: 50px;
}

.extraInformation p {
    font-size: 13px;
    text-transform: capitalize;
}

.dateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date {
    color: #aaaaaa;
}
