@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/built-titling');
:root{
    --build-titling-fnt : 'Built Titling', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'sans-serif', 'Outfit';
  border-radius: 0px;
}

a {
  text-decoration: none;
}

body {
  background: #222831;
}

main {
  width: 95%;
  height: 100dvh;
  margin-left: auto;
  margin-right: auto;
  background: #222831;
}

/* adding responsiveness */
@media screen and (max-width: 582px) {
  main {
    width: 92%;
  }
}
